<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
<!-- Alfresco Beans -->
    <bean id="mav" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="${server.name}"/>
    </bean>

<!---->

    <bean id="prod" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://inigo:8080/"/>
    </bean>
    <bean id="prd" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://inigo:8080/"/>
    </bean>
    <bean id="stage" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://wakko:8080/"/>
    </bean>
    <bean id="stg" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://wakk0:8080/"/>
    </bean>
    <bean id="test" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://brainiac:8080/"/>
    </bean>
    <bean id="dev" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://brainiac:8080/"/>
    </bean>

    <bean id="brainiac-old" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="http://brainiac-old:8080"/>
    </bean>

<!-- Sharepont Beans -->
    <bean id="sptest" class="edu.byu.oit.core.cmis.Sessions.AlfrescoSession">
        <property name="boxName" value="sharepointBoxName"/>
    </bean>
</beans>